{% load sass_tags %}
{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}TechFest{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block css %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% sass_src 'sass/main.scss' %}" rel="stylesheet" type="text/css" />

    {% endblock %}

  </head>
  <body>
      {% block content %}
        <div id="main" class='screen-height flex flex-column'>
          <div id="current-step" class='flex flex-grow flex-row'>
            <div class="container flex align-items-center">
              <div class="flex-grow">
                <div class="row">
                  <div class="alert alert-warning col-md-8 hide">
                    <h6>Oops! You have to select a type of task.</h6>
                  </div>
                </div>
                <h4 class='heading m-b-2'>What type of task do you have?</h4>
                <p class="information">Please select one option</p>
                <div class="user-actions p-t-3 p-b-3">
                  <button class="btn btn-ghost btn-md option">y = 2x + 1</button>
                  <button class="btn btn-ghost btn-md option">x<sup>2</sup> + x + 1 = ?</button>
                  <button class="btn btn-ghost btn-md option">x/2 &le; ?</button>
                  <button class="btn btn-ghost btn-md option">y &le; x<sup>2</sup> + 1</button>
                </div>
              </div>
              <a href="" id="next-step" class='text-center'>
                <i class="icon-arrow-right"></i>
                <span class='block'>Next step</span>
              </a>
            </div>
          </div>
          <div id="controls">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-4 p-r-0 p-l-0 option flex flex-column justify-content-center align-items-center active">
                  <p class='text text-center'>Type of task</p>
                </div>
                <div class="col-xs-4 p-r-0 p-l-0 option flex flex-column justify-content-center align-items-center">
                  <p class='text text-center'>Task details</p>
                </div>
                <div class="col-xs-4 p-r-0 p-l-0 option flex flex-column justify-content-center align-items-center">
                  <p class='text text-center'>Results</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endblock content %}

    </div>

    {% block modal %}{% endblock modal %}

    {% block javascript %}

      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="{% static 'js/main.js' %}"></script>

    {% endblock javascript %}
  </body>
</html>

