$white-color: #ffffff;
$black-color: #000000;

$dark-grey: #333333;
$semi-dark-grey: #505050;
$medium-grey: #8d8d8d;
$light-grey: #e5e5e5;
$lighter-grey: #f7f7f7;

$body-text-color: $medium-grey;
$big-heading-color: $semi-dark-grey;
$small-heading-color: $dark-grey;
$anchor-color: $medium-grey;