// KARLA
@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-regular-webfont.woff2') format('woff2'),
         url('../fonts/karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Karla Italic';
    src: url('../fonts/karla-italic-webfont.woff2') format('woff2'),
         url('../fonts/karla-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Karla Bold';
    src: url('../fonts/karla-bold-webfont.woff2') format('woff2'),
         url('../fonts/karla-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Karla Bolditalic';
    src: url('../fonts/karla-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/karla-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// POPPINS
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins Semibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
