// FONTS
$font-family-base: 'Karla';
$font-family-base-bold: 'Karla Bold';
$font-family-base-italic: 'Karla Italic';
$font-family-base-bolditalic: 'Karla Bolditalic';

$heading-font-family: 'Karla';

// SIZES
$logo-height: 18px;
$portfolio-max-height: 250px;
$services-max-height: 300px;
$team-max-height: 350px;
$latest-projects-max-height: 90px;
$project-controls-max-height: 90px;
$side-menu-max-width: 400px;
$steps-max-height: 150px;

// SPACING
$s-xs: 10px;
$s-sm: 20px;
$s-md: 30px;
$s-lg: 40px;
$s-xl: 50px;
$s-xxl: 60px;
$s-xxxl: 70px;

$mobile-side-offset: 25px;

// BUTTONS
$btn-md-min-width: 140px;
$btn-md-line-height: 40px;